<h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>

<form action="/answer" data-turbo="false" class="mt-4">
    <div class="input-group mb-3">
      <input type="text" name="question" class="form-control" placeholder="Ask your coach anything...">
      <button class="btn btn-primary" type="submit">Ask</button>
    </div>
  </form>
</div>
